.card-holder {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  width: 20vw;
  min-height: 20vh;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px),
    linear-gradient(-90deg, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(
      transparent 3px,
      #f2f2f2 3px,
      #f2f2f2 78px,
      transparent 78px
    ),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(
      -90deg,
      transparent 3px,
      #f2f2f2 3px,
      #f2f2f2 78px,
      transparent 78px
    ),
    linear-gradient(#aaa 1px, transparent 1px), #f2f2f2;
  background-size: 4px 4px, 4px 4px, 80px 80px, 80px 80px, 80px 80px, 80px 80px,
    80px 80px, 80px 80px;
}

.card {
  width: 90vw;
  min-height: 10vh;
  background-color: rebeccapurple;
  display: flex;
  margin: 1em 0;
  min-height: 20em;
  background-color: rgba(205, 205, 205, 0.5);
  box-sizing: border-box;
  padding: 1em;
  gap: 1em;
}

.card-heading {
  color: #010f55;
  padding: 1em;
  width: 22vw;
  background-color: rgba(255, 255, 255, 0.7);
}

.card-language {
  display: flex;
  height: 2em;
  gap: 1em;
  margin: 0;
}

.card-description {
  width: 28vw;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.7);
}

.card-image {
  background-size: cover;
  background-position: center;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: darken;

  &.portfolio {
    background-image: url("/img/projects/portfolio.png");
  }
  &.particle {
    background-image: url("/img/projects/particle.png");
  }
  &.chess {
    background-image: url("/img/projects/chess.png");
  }
  &.minesweeper {
    background-image: url("/img/projects/minesweeper.png");
  }
}

.top-div h1 {
  color: black;
  font-size: 7rem;
  line-height: 0.9;
  position: absolute;
  top: -0.5em;
  left: 0;
}
